                                           Indeed Web Scraping

In [9]:
URL = "https://www.indeed.co.uk/jobs?q=Data+Analyst+%C2%A330%2C000&l=London%2C+Greater+London"

In [10]:
#Importing the required libraries
import urllib
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import re
from pandas import ExcelWriter
from pandas import ExcelFile
import json
from pandas import DataFrame
from tabulate import tabulate
import matplotlib.pyplot as plt
import pdfcrowd
import sys
from TwitterAPI import TwitterAPI

In [11]:
#Parsing the URL
def parse(url):
    html = requests.get(url)
    soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
    df = pd.DataFrame(columns=["Job Profile","Location","Name of Company","Salary","Description"])
    for each in soup.find_all(class_= "result" ):
        try: 
            title = each.find(class_='jobtitle').text.replace('\n', '')
        except:
            title = 'None'
        try:
            location = each.find('span', {'class':"location" }).text.replace('\n', '')
        except:
            location = 'None'
        try: 
            company = each.find(class_='company').text.replace('\n', '')
        except:
            company = 'None'
        try:
            salary = each.find('span', {'class':'no-wrap'}).text
        except:
            salary = 'None'
        try:
            salary = each.find('span', {'class':'no-wrap'}).text.replace('\n', '')
        except:
            company = 'None'
        
        synopsis = each.find('span', {'class':'summary'}).text.replace('\n', '')
        
        df = df.append({'Job Profile':title, 'Name of Company':company, 'Location':location,'Salary':salary,'Description':synopsis}, ignore_index=True)
    return df

In [12]:
records=parse(URL)

In [13]:
#Converting the parsed url into a dataframe 
df = pd.DataFrame(records,columns=["Job Profile","Location","Name of Company","Salary"])
head=df.head(1)

In [14]:
#Converting dataframe into a table
df = pd.DataFrame(records,columns=["Job Profile","Location","Name of Company","Salary"]).set_index("Job Profile")

table=print(tabulate(df, tablefmt="markdown", headers="keys"))
table
df.to_html('filename.html')

Job Profile                                   Location     Name of Company                   Salary
--------------------------------------------  -----------  --------------------------------  ------------------------
Data Analysts                                 None         HMRC                              £30,260 - £38,310 a year
Data Analyst                                  None         None                              None
Senior Data Analyst                           None         None                              None
Customer Data Analyst                         None         AXA UK                            £28,000 - £35,000 a year
2019 Equity Research Data Analyst Internship  None         None                              None
Data Entry Assistant                          London       TransPerfect                      £16 an hour
2019 Equity Research Data Analyst Internship  London       None                              None
Data Analyst                                  London       None                              None
Data Analyst                                  London       House of Commons                  £30,452 - £36,532 a year
Data Analyst                                  London       None                              None
Data Protection Analyst                       London       Save the Children                 £36,000 - £40,000 a year
Performance & Data Analyst (Fixed Term)       Bexleyheath  London Borough of Bexley Council  £29,712 - £34,959 a year
HR Data Analyst                               London       None                              None
Data Analyst                                  London       Cancer Research UK                £26,000 - £34,000 a year
Data Analyst                                  London       Cabinet Office                    £31,339 - £38,580 a year
Data Analyst                                  None         Behavox                           £60,000 - £80,000 a year
Senior Analyst, Forecasting and Modeling      None         None                              None
Senior Marketing Data Analyst (Econometrics)  None         None                              None
Marketplace (Data) Analyst                    None         None                              None

In [15]:
#Converting the table into image via PDFCrowd
try:
    # create the API client instance
    client = pdfcrowd.HtmlToImageClient('sabir93', 'a11e35c38d37dc3ccf1d49c0687b2dc9')

    # configure the conversion
    client.setOutputFormat('png')

    # run the conversion and write the result to a file
    client.convertFileToFile('C:/Users/sakhtar/Downloads/Financial Programming/filename.html', 'filename.png')
except pdfcrowd.Error as why:
    # report the error
    sys.stderr.write('Pdfcrowd Error: {}\n'.format(why))

    # handle the exception here or rethrow and handle it at a higher level
    raise

In [16]:
#UPLOADING MEDIA AND STATUS ON TWITTER
#use your user credentials via Twitter Developers
CONSUMER_KEY = 'v8o0A7MZtDfNHX5zanwh4SbJV'
CONSUMER_SECRET = 'CAtFAU6FYCrk7D6leTDrUh95r4Sb2fqrBhs1jvAMMshTHZVdav'
ACCESS_TOKEN_KEY = '322170612-LjUOY6VSTczoGZ0rEIUfFEKlbSKSll4z4x7KJcPY'
ACCESS_TOKEN_SECRET = 'KkvAhOElQTxmVhDvd759tOQdYMTM1bKIKP5xe9LUlJg5R'

#Upload the media with 
api = TwitterAPI(CONSUMER_KEY, CONSUMER_SECRET, ACCESS_TOKEN_KEY, ACCESS_TOKEN_SECRET)
file = open('filename.png', 'rb')
data = file.read()
r = api.request('statuses/update_with_media', {'status':'Data Analyst Jobs in London'}, {'media[]':data})
print(r.status_code)

200